 - name: remove the percona Server Packages
   apt: name=percona* state=absent
   ignore_errors: True

 - name: remove the Percona Server Packages Caps
   apt: name=Percona* state=absent
   ignore_errors: True

  # This removes any percona repositories on the system
 - name: remove the Percona apt main repository
   apt: name=percona-release state=absent

 - name: remove the Percona apt main repository
   apt: name=gnupg2 state=present

 - name: Install percona repository package
   apt:
     deb: https://repo.percona.com/apt/percona-release_latest.generic_all.deb

 - name: enable the pxc-80 main repo
   command: percona-release setup pxc-80 -y
   when: percona_server_repository == "main"

 - name: enable the pxc-80 testing repo
   command: percona-release enable-only pxc-80 testing -y
   when: percona_server_repository == "testing"

 - name: enable the tools testing repo
   command: percona-release enable tools testing
   when: percona_server_repository == "testing"

 - name: enable the pxc-80 experimental repo
   command: percona-release enable-only pxc-80 experimental -y
   when: percona_server_repository == "experimental"
  
 - name: enable the tools testing repo
   command: percona-release enable tools experimental
   when: percona_server_repository == "experimental"
